dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
brick-2.5/brick.cabal
brick-2.5/CHANGELOG.md
brick-2.5/LICENSE
brick-2.5/README.md
brick-2.5/Setup.hs
brick-2.5/docs/guide.rst
brick-2.5/docs/snake-demo.gif
brick-2.5/programs/AttrDemo.hs
brick-2.5/programs/BorderDemo.hs
brick-2.5/programs/CacheDemo.hs
brick-2.5/programs/CroppingDemo.hs
brick-2.5/programs/custom_keys.ini
brick-2.5/programs/CustomEventDemo.hs
brick-2.5/programs/CustomKeybindingDemo.hs
brick-2.5/programs/DialogDemo.hs
brick-2.5/programs/DynamicBorderDemo.hs
brick-2.5/programs/EditDemo.hs
brick-2.5/programs/EditorLineNumbersDemo.hs
brick-2.5/programs/FileBrowserDemo.hs
brick-2.5/programs/FillDemo.hs
brick-2.5/programs/FormDemo.hs
brick-2.5/programs/HelloWorldDemo.hs
brick-2.5/programs/LayerDemo.hs
brick-2.5/programs/ListDemo.hs
brick-2.5/programs/ListViDemo.hs
brick-2.5/programs/MouseDemo.hs
brick-2.5/programs/PaddingDemo.hs
brick-2.5/programs/ProgressBarDemo.hs
brick-2.5/programs/ReadmeDemo.hs
brick-2.5/programs/SuspendAndResumeDemo.hs
brick-2.5/programs/TableDemo.hs
brick-2.5/programs/TabularListDemo.hs
brick-2.5/programs/TailDemo.hs
brick-2.5/programs/TextWrapDemo.hs
brick-2.5/programs/ThemeDemo.hs
brick-2.5/programs/ViewportScrollbarsDemo.hs
brick-2.5/programs/ViewportScrollDemo.hs
brick-2.5/programs/VisibilityDemo.hs
brick-2.5/src/Brick.hs
brick-2.5/src/Brick/AttrMap.hs
brick-2.5/src/Brick/BChan.hs
brick-2.5/src/Brick/BorderMap.hs
brick-2.5/src/Brick/Focus.hs
brick-2.5/src/Brick/Forms.hs
brick-2.5/src/Brick/Keybindings.hs
brick-2.5/src/Brick/Main.hs
brick-2.5/src/Brick/Themes.hs
brick-2.5/src/Brick/Types.hs
brick-2.5/src/Brick/Util.hs
brick-2.5/src/Brick/Keybindings/KeyConfig.hs
brick-2.5/src/Brick/Keybindings/KeyDispatcher.hs
brick-2.5/src/Brick/Keybindings/KeyEvents.hs
brick-2.5/src/Brick/Keybindings/Normalize.hs
brick-2.5/src/Brick/Keybindings/Parse.hs
brick-2.5/src/Brick/Keybindings/Pretty.hs
brick-2.5/src/Brick/Types/Common.hs
brick-2.5/src/Brick/Types/EventM.hs
brick-2.5/src/Brick/Types/Internal.hs
brick-2.5/src/Brick/Types/TH.hs
brick-2.5/src/Brick/Widgets/Border.hs
brick-2.5/src/Brick/Widgets/Center.hs
brick-2.5/src/Brick/Widgets/Core.hs
brick-2.5/src/Brick/Widgets/Dialog.hs
brick-2.5/src/Brick/Widgets/Edit.hs
brick-2.5/src/Brick/Widgets/FileBrowser.hs
brick-2.5/src/Brick/Widgets/Internal.hs
brick-2.5/src/Brick/Widgets/List.hs
brick-2.5/src/Brick/Widgets/ProgressBar.hs
brick-2.5/src/Brick/Widgets/Table.hs
brick-2.5/src/Brick/Widgets/Border/Style.hs
brick-2.5/src/Data/IMap.hs
brick-2.5/tests/List.hs
brick-2.5/tests/Main.hs
brick-2.5/tests/Render.hs
.vscode/phoityne.log
